body{
    padding: 0px;
    margin: 0px;
    background:#f6f6f6; 
    font-family: 'Open Sans', sans-serif;
}
a{ 
    text-decoration: none !important;
} 
.fromBox{
    width:400px;border:1px solid white;background:white;box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) ;
}
.mobileNav{
    display:none;
}
.webNav{
    display:block;
}
#searchBar{
    width:500px;
} 
.stylish-panel > div:hover > div{  
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px 2px;
    background: rgb(255, 0, 0);
    transition: 0.5s;
    padding:0px 20spx;
} 

.search{
    width:500px;
}       
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
    position:fixed;
}

.allitem{
    margin:0px 16.5%;
} 
.pTitle{
    font-size:20px;
}       
.pTK{
    font-size:22px;
    color:#0094ff;
} 
 
.tiles {
position: absolute;
top: 0;
left: 0; 
}

.tile {
position: relative; 
height: 80%;
overflow: hidden;
}

.photo {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
transition: transform .5s ease-out;
} 
.errorMessage {
  text-transform: capitalize; 
} 

@media screen and (max-width: 767px) {
    .fromBox {
        width:auto;    
    }
    #searchBar{
        width:100%;
    }
    .mobileNav{
        display:block;
    }
    .webNav{
        display:none;
    }
    .sidenav {
        height: auto;
        padding: 15px;
        position:static;
    } 
    .row.content {
        height: auto;
    }
    .allitem{
        margin:0px 0%;
    }
    .search{
        width:100px;
    } 
}