<%- include("headerUnaut.ejs") -%> 
    <div class="container fromBox">
        <br />
        <div class="card card-container" style="padding:10px">
            <center>
                <img id="profile-img" style="border-radius:50%;width:100px" src="img/profile.png" />
            </center> 
            <div id="Semail">
                <label for="email">Enter Email: </label>
                <input type="email" id="email" class="form-control" style="height:45px;margin:5px 0px" value="" placeholder="Email address" required autofocus>
            </div>
            <div id="Scode" style="display:none">
                <label for="code">Enter Code : </label>
                <input type="text" id="code" class="form-control" style="height:45px;margin:5px 0px" value="" placeholder="######" required>
            </div>
            <div id="Spassword" style="display:none">
                <label for="password">Enter Password : </label>
                <input type="password" id="password" class="form-control" style="height:45px;margin:5px 0px" value="" placeholder="######" required>
            </div>    
            <div id="Snewpassword" style="display:none">
                <label for="newpassword">Enter Again Password : </label>
                <input type="password" id="newpassword" class="form-control" style="height:45px;margin:5px 0px" value="" placeholder="######" required>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" id="signin" type="submit">Next</button>

            <center>
                <p id="errorShow" class="profile-name-card"></p>

            </center>

        </div> 
    </div>
</body>
</html>   
<script>
    document.title = "Sign In";
    var status = "email";
    $("#signin").click(function () { 
        $("#errorShow").html('<div class="alert alert-info">Loading</div>');
        if (status == "email") {
            $.post("/people/f/email", { email: $("#email").val() }, function (data, s) {
                if (data == "true") {
                    status = "code";
                    document.getElementById("Scode").style.display = "block";
                    $("#email").prop("readonly", true);
                    $("#errorShow").html("");
                } else {
                    $("#errorShow").html('<div class="alert alert-danger">' + data + '</div>');
                }
            });
        }
        if (status == "code") {
            $.post("/people/f/code", { email: $("#email").val(), code: $("#code").val() }, function (data, s) {
                if (data == "true") {
                    status = "password";
                    document.getElementById("Scode").style.display = "none";
                    document.getElementById("Spassword").style.display = "block";
                    document.getElementById("Snewpassword").style.display = "block";
                    $("#errorShow").html("");
                } else {
                    $("#errorShow").html('<div class="alert alert-danger">' + data + '</div>');
                }
            });
        }
        if (status == "password") {
            $.post("/people/f/password", { email: $("#email").val(), code: $("#code").val(), password: $("#password").val(), newpassword: $("#newpassword").val() }, function (data, s) {
                if (data == "true") {
                    alert("Your Password Change Successfully Please Sign in");
                    window.location.href="/log"
                } else {
                    $("#errorShow").html('<div class="alert alert-danger">' + data + '</div>');
                }
            });
        }
        
    }); 
</script>
 